/.metadata/
MSimulator/.metadata/.lock
MSimulator/.metadata/.log
MSimulator/.metadata/.mylyn/.taskListIndex/segments_1
MSimulator/.metadata/.mylyn/.taskListIndex/write.lock
MSimulator/.metadata/.mylyn/repositories.xml.zip
MSimulator/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
MSimulator/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
MSimulator/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
MSimulator/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
MSimulator/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
MSimulator/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
MSimulator/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
MSimulator/.metadata/.plugins/org.eclipse.jdt.core/index.db
MSimulator/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
MSimulator/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.0.20180606-2036.xml
MSimulator/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
MSimulator/.metadata/.plugins/org.eclipse.ui.intro/introstate
MSimulator/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
MSimulator/.metadata/version.ini
